<% include ../partials/header %>

<!-- <div class="container"> -->
    <div class="row justify-content-center">    
        <div class="col-md-12 text-center mt-3 mb-2">
            <h1>Edit Plan</h1>
        </div>
        <!-- <h1 style="text-align: center;">Edit <%= plan.name %></h1> -->
        <!-- <div style="width: 30%; margin: 25px auto;"> -->
            <!-- form with the /plans POST route -->
        <div class="col-4 col-xs-12">
            <div class="form-group">
                <select id="index_form" class="form-control" form="edit_plan" name="type">
                    <% if(plan.type == "fabrication"){ %>
                        <option selected value="fabrication">Fabrication</option>
                    <%} else {%>
                        <option value="fabrication">Fabrication</option>
                    <%}%>
                    <% if(plan.type == "machining"){ %>
                        <option selected value="machining">Machining</option>
                    <%} else {%>
                        <option value="machining">Machining</option>
                    <%}%>
                    <% if(plan.type == "construction"){ %>
                        <option selected value="construction">Construction</option>
                    <%} else {%>
                        <option value="construction">Construction</option>
                    <%}%>
                    <% if(plan.type == "woodworking"){ %>
                        <option selected value="woodworking">Woodworking</option>
                    <%} else {%>
                        <option value="woodworking">Woodworking</option>
                    <%}%>
                    <% if(plan.type == "custom_projects"){ %>
                        <option selected value="custom_projects">Custom Projects</option>
                    <%} else {%>
                        <option value="custom_projects">Custom Projects</option>
                    <%}%>
                </select>
            </div>
            <form id="edit_plan" action="/plans/<%= plan._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <!-- used for grouping and adds space -->
                <div class="form-group">
                <!--text input, that sets the variable image, with background text being image url -->
                    <input class="form-control" type="text" name="name" value="<%= plan.name %>">
                </div>
                <div class="form-group">
                    <label class="custom-file-upload" for="image"><i class="fas fa-cloud-upload-alt"></i>Image</label>
                    <input class="form-control-file" type="file" id="image" name="image" accept="image/*">
                <!-- </div> -->
                <!-- <div class="form-group"> -->
                    <label class="custom-file-upload" for="image"><i class="fas fa-cloud-upload-alt"></i>Drawing</label>
                    <input type="file" id="drawing" name="drawing" accept=".pdf">
                <!-- </div> -->
                <!-- <div class="form-group"> -->
                    <label class="custom-file-upload" for="bom"><i class="fas fa-cloud-upload-alt"></i>Materials</label>
                    <input type="file" id="bom" name="bom" accept=".xls, .xlsx, .xml, .doc, .docx, .docm, .txt">
                <!-- </div> -->
                <!-- <div class="form-group"> -->
                    <label class="custom-file-upload" for="notes"><i class="fas fa-cloud-upload-alt"></i>Notes</label>
                    <input type="file" id="notes" name="notes" accept=".xls, .xlsx, .xml, .doc, .docx, .docm, .txt">
                <!-- </div> -->
                <!-- <div class="form-group"> -->
                    <!-- <label class="custom-file-upload" for="drawing"><i class="fas fa-cloud-upload-alt"></i>Drawing</label> -->
                    <!-- <input type="file" id="drawing" name="drawing" accept=".pdf"> -->
                <!-- </div> -->
                <!-- <div class="form-group"> -->
                    <label class="custom-file-upload" for="g_code"><i class="fas fa-cloud-upload-alt"></i>G Code</label>
                    <input type="file" id="g_code" name="g_code" accept=".stl, .obj, .x3g, .3mf, .amf, .nc">
                <!-- </div> -->
                <!-- <div class="form-group"> -->
                    <label class="custom-file-upload" for="dxf_file"><i class="fas fa-cloud-upload-alt"></i>DXF File</label>
                    <input type="file" id="dxf_file" name="dxf_file" accept=".dxf">
                </div>
                <div class="form-group">
                    <!-- <input class="form-control" type="text" name="description" value=" <%= plan.description %>"> -->
                    <textarea rows="10" class="form-control" type="text" name="plan[description]"><%= plan.description %></textarea>
                </div>
                <div class="form-group">
                    <button class="brn btn-lg btn-primary">Submit Changes!</button>
                </div>
            </form>
            <a href="/plans">Back to Plans</a>
        </div>
    </div>
<!-- </div> -->
<% include ../partials/footer %>