<% include ../partials/header %>

<div class="jumbotron jumbotron-fluid">
    <video preload autoplay muted loop poster="https://dummyimage.com/900x400/000/fff">    
        <source src="images/23023897-preview.mp4" type="video/mp4">
    </video>
    <div class="container text-white">
        <h1 class="display-4">DIY Plans</h1>
        <p class="lead">CAD drawings available to download, free.</p>
        <p>Upload/Share.  Download/Build.</p>
        <a class="btn btn-primary btn-lg" href="/plans/new">Add New Plan</a>
    </div>
</div>

<!-- adds some spacing on the sides -->
<div class="container">
    <div>
    <div class="inline_css">
        <select id="index_form" class="form-control" form="main_page_form" name="filter">
            <option <% if(lastFilter == "fabrication"){ %> selected <% } %>     value="fabrication">Fabrication</option>
            <option <% if(lastFilter == "machining"){ %> selected <% } %>       value="machining">Machining</option>
            <option <% if(lastFilter == "construction"){ %> selected <% } %>    value="construction">Construction</option>
            <option <% if(lastFilter == "woodworking"){ %> selected <% } %>     value="woodworking">Woodworking</option>
            <option <% if(lastFilter == "custom_projects"){ %> selected <% } %> value="custom_projects">Custom Projects</option>
            <option <% if(lastFilter == "no_filter"){ %> selected <% } %>       value="no_filter">Filter by Type</option>
        </select>
    </div>
    <form class="inline_css" id="main_page_form" action="/plans" method="GET">
        <div class="form-group index_search inline_css">
            <% if(lastSearch == "Plan Search...") { %>
                <input type="text" name="search" placeholder="<%= lastSearch %>" class="form-control">
            <% } else{ %>
                <input value="<%= lastSearch %>" type="text" name="search" class="form-control">
            <% } %>
            <!-- <input type="submit" value="search" class="btn btn-default"> -->
        </div>
        <div class="form-group inline_css button_right">
            <button class="brn btn-lg btn-primary">Submit!</button>
        </div>
    </form>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <% if(noMatch !== undefined) { %>
                <h3><%= noMatch %></h3>
            <% } %>
        </div>
        <% plans.forEach(function(i){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img src="<%= i.image %>" class="card-img-top" alt="<%= i.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= i.name %></h5>
                        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                        <a href="/plans/<%= i._id %>" class="btn btn-dark">More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<!-- <script>
function deferVideo() {

    //defer html5 video loading
  $("video source").each(function() {
    var sourceFile = $(this).attr("data-src");
    $(this).attr("src", sourceFile);
    var video = this.parentElement;
    video.load();
    // uncomment if video is not autoplay
    //video.play();
  });

}
window.onload = deferVideo;
</script> -->

<% include ../partials/footer %>