<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">DIYplans</p>
            <div class="list-group">
                <li class="list-group-item active">Info1</li>
                <li class="list-group-item">Info2</li>
                <li class="list-group-item">Info3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <img src="<%= plan.image %>" class="card-img-top" alt="<%= plan.name %>">
                <div class="card-body">
                    <img src= "<%= drawingThumbnail %>"> 
                    <a href="<%= plan.drawing %>" target="_blank" download>View/Download PDF</a>
                    <% if(plan.bom){ %>
                        <a href="<%= plan.bom %>" target="_blank" download>Download BOM</a>  <!-- TODO THESE NEED TO ONLY DISPLAY WHEN THEY EXIST -->
                    <% } %>
                    <% if(plan.notes){ %>
                        <a href="<%= plan.notes %>" target="_blank" download>Download Notes</a>
                    <% } %>
                    <% if(plan.gCode){ %>
                        <a href="<%= plan.gCode %>" target="_blank" download>Download G Code</a>
                    <% } %>                   
                    <% if(plan.dxf){ %>
                        <a href="<%= plan.dxf %>" target="_blank" download>Download DXF File</a>
                    <% } %>

                    <!-- <button onclick="viewPdf()">View PDF</button> -->
                    <h5 class="card-title"><%= plan.name %></h5>
                    <p class="card-text"><%= plan.description %> </p>
                    <p><em>Submitted By <a href="/users/<%= plan.author.id %>"><%= plan.author.username %></a><%= moment(plan.createdAt).fromNow() %></em></p>
                    <% if(currentUser && plan.author.id.equals(currentUser._id)){%>  <!-- every route has currentUser (app.js), but have to check if null first -->
                    <a class="btn btn-warning" href="/plans/<%= plan._id %>/edit">Edit</a>
                    <form class="delete-form" action="/plans/<%= plan._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-success" href="/plans/<%= plan._id %>/comments/new">Add New Comment</a>                      
                    </div>
                    <hr>
                    <div class="row">
                    <% plan.comments.forEach(function(comment){ %>

                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){%>  <!-- every route    has currentUser (app.js), but have to check if null first -->
                                <a class="btn btn-sm btn-warning" href="/plans/<%=plan._id%>/comments/<%=comment.   _id%>/edit">Edit</a>
                                <form class="delete-form" action="/plans/<%= plan._id %>/comments/<%=comment._id%>  ?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                </form>
                            <% } %>
                        </div>
                    <% }); %>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>